---
layout: post
title: "It's Time to Ditch SMS 2-Factor Verification"
date: 2018-03-12 05:51:02 -0700
categories: authentication
---
[https://dennisdel.com/blog/ditch-sms-2fa/](https://dennisdel.com/blog/ditch-sms-2fa/)
